.followContainer {
  width: 60%;
  margin: 50px auto;
  padding: 20px;
  background-color: white;
  border-radius: 11px;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.1);
}

.tabs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.tab-button {
  flex: 1;
  padding: 10px 0;
  border: none;
  background-color: lightgray;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  border-radius: 5px;
}

.tab-button.active {
  background-color: lightseagreen;
  color: white;
}

.tab-content {
  width: 100%;
  padding: 20px;
  border: 1px solid lightgray;
  border-radius: 8px;
  background-color: white;
}

.follow-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.follow-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #e0e0e0;
}

.user-name {
  display: flex;
  align-items: center;
}

.icon-and-name {
  display: flex;
  align-items: center;
}

.user-icon {
  margin-right: 8px;
}

.followMsg {
  font-size: 16px;
  color: black;
}

.follow-button {
  padding: 6px 12px;
  border: none;
  cursor: pointer;
  color: red;
  border: 1px solid red;
  background-color: white;
  border-radius: 5px;
}

.follow-button:hover {
  transform: scale(1.03);
}

.message-button {
  padding: 6px 12px;
  border: none;
  cursor: pointer;
  color: green;
  border: 1px solid green;
  background-color: white;
  border-radius: 5px;
  margin-left: 5px;
}

.message-button:hover {
  transform: scale(1.03);
}